THINGSPEAK_CHANNEL_ID=3441548
THINGSPEAK_READ_API_KEY=REPLACE_WITH_YOUR_READ_API_KEY
DEMO_USERNAME=admin
DEMO_PASSWORD=CHANGE_ME
TEMP_MIN=0
TEMP_MAX=60
PH_MIN=0
PH_MAX=14
TURBIDITY_MIN=0
TURBIDITY_MAX=100
